In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
variants = pd.read_csv("variant_cases.csv", sep=",", index_col=0)
vaccinations = pd.read_csv("vaccinations.csv", sep=',', index_col=0)

In [3]:
variants = variants.loc[(variants['variant'] == 'B.1.617.2') | (variants['variant'] == 'B.1.1.529') |\
                       (variants['variant'] == 'B.1.1.7') | (variants['variant'] == 'B.1.351')]

variants

,country_code,year_week,source,new_cases,number_sequenced,percent_cases_sequenced,valid_denominator,variant,number_detections_variant,number_sequenced_known_variant,percent_variant
country,,,,,,,,,,,
Austria,AT,2020-40,GISAID,5597,4,0.1,Yes,B.1.1.529,0,4.0,0.0
Austria,AT,2020-40,GISAID,5597,4,0.1,Yes,B.1.1.7,0,4.0,0.0
Austria,AT,2020-40,GISAID,5597,4,0.1,Yes,B.1.351,0,4.0,0.0
Austria,AT,2020-40,GISAID,5597,4,0.1,Yes,B.1.617.2,0,4.0,0.0
Austria,AT,2020-41,GISAID,7486,26,0.3,Yes,B.1.1.529,0,26.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
Sweden,SE,2021-50,TESSy,24538,1951,8.0,Yes,B.1.617.2,1340,1951.0,68.7
Sweden,SE,2021-51,TESSy,28046,32,0.1,Yes,B.1.1.529,28,32.0,87.5
Sweden,SE,2021-51,TESSy,28046,32,0.1,Yes,B.1.617.2,4,32.0,12.5
Sweden,SE,2021-52,TESSy,59466,36,0.1,Yes,B.1.1.529,33,36.0,91.7
Sweden,SE,2021-52,TESSy,59466,36,0.1,Yes,B.1.617.2,3,36.0,8.3

In [4]:
sort_variants = variants.sort_values('number_sequenced')
var = sort_variants.drop_duplicates(subset=['country_code', 'year_week', 'variant'], keep='last')
variants = var.sort_values(by=['country_code','year_week'])
variants

,country_code,year_week,source,new_cases,number_sequenced,percent_cases_sequenced,valid_denominator,variant,number_detections_variant,number_sequenced_known_variant,percent_variant
country,,,,,,,,,,,
Austria,AT,2020-40,GISAID,5597,4,0.1,Yes,B.1.1.529,0,4.0,0.0
Austria,AT,2020-40,GISAID,5597,4,0.1,Yes,B.1.1.7,0,4.0,0.0
Austria,AT,2020-40,GISAID,5597,4,0.1,Yes,B.1.351,0,4.0,0.0
Austria,AT,2020-40,GISAID,5597,4,0.1,Yes,B.1.617.2,0,4.0,0.0
Austria,AT,2020-41,GISAID,7486,26,0.3,Yes,B.1.1.529,0,26.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
Slovakia,SK,2021-51,TESSy,19979,652,3.3,Yes,B.1.1.529,4,652.0,0.6
Slovakia,SK,2021-52,GISAID,19839,0,0.0,Yes,B.1.1.7,0,0.0,NaN
Slovakia,SK,2021-52,GISAID,19839,0,0.0,Yes,B.1.351,0,0.0,NaN
Slovakia,SK,2021-52,TESSy,19839,233,1.2,Yes,B.1.617.2,224,233.0,96.1
Slovakia,SK,2021-52,TESSy,19839,233,1.2,Yes,B.1.1.529,9,233.0,3.9

In [5]:
def get_variants(row):
    percentage = row['percent_variant']/100
    cases = row['new_cases'] * percentage
    return cases
    
variants['number_cases_ratio'] = variants.apply(get_variants, axis=1)
variants = variants.drop(columns=['source', 'number_sequenced', 'percent_cases_sequenced', 'valid_denominator',\
                                  'number_detections_variant', 'number_sequenced_known_variant'])
variants

,country_code,year_week,new_cases,variant,percent_variant,number_cases_ratio
country,,,,,,
Austria,AT,2020-40,5597,B.1.1.529,0.0,0.000
Austria,AT,2020-40,5597,B.1.1.7,0.0,0.000
Austria,AT,2020-40,5597,B.1.351,0.0,0.000
Austria,AT,2020-40,5597,B.1.617.2,0.0,0.000
Austria,AT,2020-41,7486,B.1.1.529,0.0,0.000
...,...,...,...,...,...,...
Slovakia,SK,2021-51,19979,B.1.1.529,0.6,119.874
Slovakia,SK,2021-52,19839,B.1.1.7,NaN,NaN
Slovakia,SK,2021-52,19839,B.1.351,NaN,NaN
Slovakia,SK,2021-52,19839,B.1.617.2,96.1,19065.279
Slovakia,SK,2021-52,19839,B.1.1.529,3.9,773.721

In [6]:
variants = variants.loc[(variants['variant'] != 'B.1.351')]
variants

,country_code,year_week,new_cases,variant,percent_variant,number_cases_ratio
country,,,,,,
Austria,AT,2020-40,5597,B.1.1.529,0.0,0.000
Austria,AT,2020-40,5597,B.1.1.7,0.0,0.000
Austria,AT,2020-40,5597,B.1.617.2,0.0,0.000
Austria,AT,2020-41,7486,B.1.1.529,0.0,0.000
Austria,AT,2020-41,7486,B.1.617.2,0.0,0.000
...,...,...,...,...,...,...
Slovakia,SK,2021-51,19979,B.1.617.2,99.1,19799.189
Slovakia,SK,2021-51,19979,B.1.1.529,0.6,119.874
Slovakia,SK,2021-52,19839,B.1.1.7,NaN,NaN
Slovakia,SK,2021-52,19839,B.1.617.2,96.1,19065.279
Slovakia,SK,2021-52,19839,B.1.1.529,3.9,773.721

In [7]:
vaccinations = vaccinations.loc[vaccinations['TargetGroup'] == 'ALL']
vaccinations = vaccinations.drop_duplicates(subset='ReportingCountry')
vaccinations

,ReportingCountry,Denominator,NumberDosesReceived,NumberDosesExported,FirstDose,FirstDoseRefused,SecondDose,DoseAdditional1,UnknownDose,Region,TargetGroup,Vaccine,Population
YearWeekISO,,,,,,,,,,,,,
2020-W53,AT,8901064.0,0.0,0.0,0,NaN,0,0,0,AT,ALL,MOD,8901064
2020-W53,BE,11522440.0,0.0,NaN,0,NaN,0,0,0,BE,ALL,JANSS,11522440
2020-W52,BG,6951482.0,10725.0,NaN,0,NaN,0,0,0,BG,ALL,COM,6951482
2020-W52,CY,888005.0,9750.0,NaN,369,NaN,0,0,0,CY,ALL,COM,888005
2020-W52,CZ,10693939.0,11700.0,0.0,1268,NaN,0,0,0,CZ,ALL,COM,10693939
2020-W52,DE,83166711.0,151125.0,0.0,24346,NaN,19,0,0,DE,ALL,COM,83166711
2020-W50,DK,5822763.0,0.0,0.0,1,NaN,0,0,0,DK,ALL,COM,5822763
2020-W52,EE,1328976.0,9750.0,0.0,191,NaN,0,0,0,EE,ALL,COM,1328976
2020-W52,EL,10718565.0,0.0,0.0,2,NaN,0,0,0,EL,ALL,MOD,10718565
2020-W53,ES,47332614.0,NaN,NaN,0,NaN,0,0,0,ES,ALL,JANSS,47332614
2020-W52,FI,NaN,NaN,NaN,0,NaN,0,0,0,FI197,ALL,JANSS,5525292
2020-W53,FR,67320216.0,58500.0,NaN,106225,NaN,0,0,0,FR,ALL,COM,67320216
2020-W52,HR,4058165.0,NaN,NaN,52,NaN,10,0,0,HR,ALL,UNK,4058165
2020-W52,HU,9769526.0,9750.0,NaN,1095,NaN,0,0,0,HU,ALL,COM,9769526
2020-W52,IE,4964440.0,9750.0,0.0,0,NaN,0,0,0,IE,ALL,COM,4964440
2020-W53,IS,364134.0,11700.0,0.0,4943,NaN,0,0,0,IS,ALL,COM,364134
2020-W52,IT,3953305.0,NaN,NaN,510,NaN,0,0,0,ITF4,ALL,COM,59641488
2021-W06,LI,38747.0,1800.0,0.0,368,NaN,0,0,0,LI,ALL,MOD,38747
2020-W52,LT,820511.0,2955.0,NaN,713,NaN,0,0,0,LT01,ALL,COM,2794090
2020-W52,LU,626108.0,9750.0,NaN,0,NaN,0,0,0,LU,ALL,COM,626108
2020-W52,LV,1907675.0,9750.0,NaN,0,NaN,0,0,0,LV,ALL,COM,1907675
2020-W52,MT,514564.0,NaN,NaN,57,NaN,0,0,0,MT,ALL,COM,514564
2020-W52,NL,17407585.0,0.0,0.0,0,NaN,0,0,0,NL,ALL,MOD,17407585
2020-W52,NO,5367580.0,9750.0,NaN,68,NaN,0,0,0,NO,ALL,COM,5367580
2020-W52,PL,1671605.0,NaN,NaN,0,NaN,0,0,0,PL42,ALL,MOD,37958138
2020-W52,PT,NaN,NaN,NaN,20,NaN,0,0,0,PTCSR01,ALL,COM,10295909
2021-W04,RO,19328838.0,926370.0,NaN,586514,0.0,106470,0,0,RO,ALL,COM,19328838
2020-W52,SE,870200.0,NaN,NaN,0,NaN,0,0,0,SE21,ALL,AZ,10327589
2020-W52,SI,2095861.0,11700.0,NaN,6200,NaN,0,0,0,SI,ALL,COM,2095861
2020-W52,SK,5457873.0,9750.0,0.0,0,NaN,0,0,0,SK,ALL,COM,5457873

In [8]:
def get_population(row, df):
    pop = df['Population'].loc[df['ReportingCountry'] == row['country_code']]
    return pop[0]

variants['population'] = variants.apply(lambda row: get_population(row,vaccinations), axis=1)
variants

,country_code,year_week,new_cases,variant,percent_variant,number_cases_ratio,population
country,,,,,,,
Austria,AT,2020-40,5597,B.1.1.529,0.0,0.000,8901064
Austria,AT,2020-40,5597,B.1.1.7,0.0,0.000,8901064
Austria,AT,2020-40,5597,B.1.617.2,0.0,0.000,8901064
Austria,AT,2020-41,7486,B.1.1.529,0.0,0.000,8901064
Austria,AT,2020-41,7486,B.1.617.2,0.0,0.000,8901064
...,...,...,...,...,...,...,...
Slovakia,SK,2021-51,19979,B.1.617.2,99.1,19799.189,5457873
Slovakia,SK,2021-51,19979,B.1.1.529,0.6,119.874,5457873
Slovakia,SK,2021-52,19839,B.1.1.7,NaN,NaN,5457873
Slovakia,SK,2021-52,19839,B.1.617.2,96.1,19065.279,5457873
Slovakia,SK,2021-52,19839,B.1.1.529,3.9,773.721,5457873

In [9]:
def normalize_counts(row):
    percentage = (row['number_cases_ratio']/row['population']) * 100
    return percentage
    
variants['normalized_counts'] = variants.apply(normalize_counts, axis=1)

variants = variants.reset_index()
variants

,country,country_code,year_week,new_cases,variant,percent_variant,number_cases_ratio,population,normalized_counts
0,Austria,AT,2020-40,5597,B.1.1.529,0.0,0.000,8901064,0.000000
1,Austria,AT,2020-40,5597,B.1.1.7,0.0,0.000,8901064,0.000000
2,Austria,AT,2020-40,5597,B.1.617.2,0.0,0.000,8901064,0.000000
3,Austria,AT,2020-41,7486,B.1.1.529,0.0,0.000,8901064,0.000000
4,Austria,AT,2020-41,7486,B.1.617.2,0.0,0.000,8901064,0.000000
...,...,...,...,...,...,...,...,...,...
5935,Slovakia,SK,2021-51,19979,B.1.617.2,99.1,19799.189,5457873,0.362764
5936,Slovakia,SK,2021-51,19979,B.1.1.529,0.6,119.874,5457873,0.002196
5937,Slovakia,SK,2021-52,19839,B.1.1.7,NaN,NaN,5457873,NaN
5938,Slovakia,SK,2021-52,19839,B.1.617.2,96.1,19065.279,5457873,0.349317
5939,Slovakia,SK,2021-52,19839,B.1.1.529,3.9,773.721,5457873,0.014176

In [10]:
variant_data = variants[["variant","normalized_counts"]]#.reset_index(drop=True)
variant_data_p = variant_data.pivot(columns = ["variant"], values = ["normalized_counts"])
variant_data_p = variant_data_p.droplevel(level = 0, axis = 1)
week_data = pd.DataFrame(variants[["country","country_code","year_week","new_cases","population"]]).reset_index(drop=True)
week_data.index.rename("variant", inplace = True)
combined = week_data.join(variant_data_p, on="variant").reset_index(drop=True)
combined

,country,country_code,year_week,new_cases,population,B.1.1.529,B.1.1.7,B.1.617.2
0,Austria,AT,2020-40,5597,8901064,0.000000,NaN,NaN
1,Austria,AT,2020-40,5597,8901064,NaN,0.0,NaN
2,Austria,AT,2020-40,5597,8901064,NaN,NaN,0.000000
3,Austria,AT,2020-41,7486,8901064,0.000000,NaN,NaN
4,Austria,AT,2020-41,7486,8901064,NaN,NaN,0.000000
...,...,...,...,...,...,...,...,...
5935,Slovakia,SK,2021-51,19979,5457873,NaN,NaN,0.362764
5936,Slovakia,SK,2021-51,19979,5457873,0.002196,NaN,NaN
5937,Slovakia,SK,2021-52,19839,5457873,NaN,NaN,NaN
5938,Slovakia,SK,2021-52,19839,5457873,NaN,NaN,0.349317
5939,Slovakia,SK,2021-52,19839,5457873,0.014176,NaN,NaN

In [11]:
data = []
for idx, row in combined.iterrows():
    row_list = []
    if idx > 1:
        prev = (idx - 1)
        if row["year_week"] == list(combined.loc[combined.index == prev]["year_week"])[0]:
            if pd.isna(row["B.1.1.529"]):
                row["B.1.1.529"] = list(combined.loc[combined.index == prev]["B.1.1.529"])[0]
            if pd.isna(row["B.1.1.7"]):
                row["B.1.1.7"] = list(combined.loc[combined.index == prev]["B.1.1.7"])[0]
            if pd.isna(row["B.1.617.2"]):
                row["B.1.617.2"] = list(combined.loc[combined.index == prev]["B.1.617.2"])[0]
        if row["year_week"] == list(combined.loc[combined.index == prev - 1]["year_week"])[0]:
            if pd.isna(row["B.1.1.529"]):
                row["B.1.1.529"] = list(combined.loc[combined.index == prev - 1]["B.1.1.529"])[0]
            if pd.isna(row["B.1.1.7"]):
                row["B.1.1.7"] = list(combined.loc[combined.index == prev - 1]["B.1.1.7"])[0]
            if pd.isna(row["B.1.617.2"]):
                row["B.1.617.2"] = list(combined.loc[combined.index == prev - 1]["B.1.617.2"])[0]
                
        row_list.append(row["country"]) 
        row_list.append(row["country_code"])
        row_list.append(row["year_week"])
        row_list.append(row["new_cases"])
        row_list.append(row["B.1.1.529"])
        row_list.append(row["B.1.1.7"])
        row_list.append(row["B.1.617.2"])
        row_list.append(row["population"])
        data.append(row_list)

In [12]:
updated_df = pd.DataFrame(data,columns=["Country","Country_Code","Year_Week","New_Cases","B.1.1.529","B.1.1.7","B.1.617.2",
                                       "Population"])
updated_df = updated_df.dropna(thresh=6)
updated_df = updated_df.drop_duplicates(subset=['Country_Code', 'Year_Week'], keep='last')
updated_df = updated_df.set_index("Country")
updated_df

,Country_Code,Year_Week,New_Cases,B.1.1.529,B.1.1.7,B.1.617.2,Population
Country,,,,,,,
Austria,AT,2020-40,5597,0.000000,0.0,0.000000,8901064
Austria,AT,2020-41,7486,0.000000,0.0,0.000000,8901064
Austria,AT,2020-42,9903,0.000000,0.0,0.000000,8901064
Austria,AT,2020-43,18274,0.000000,0.0,0.000000,8901064
Austria,AT,2020-44,31613,0.000000,0.0,0.000000,8901064
...,...,...,...,...,...,...,...
Slovakia,SK,2021-48,61314,0.004494,0.0,1.121158,5457873
Slovakia,SK,2021-49,44995,0.004946,0.0,0.798849,5457873
Slovakia,SK,2021-50,31044,0.002275,0.0,0.564811,5457873
Slovakia,SK,2021-51,19979,0.002196,0.0,0.362764,5457873
Slovakia,SK,2021-52,19839,0.014176,NaN,0.349317,5457873

In [13]:
# variants.to_csv("data.tsv", sep="\t")
updated_df.to_csv("updated_data.tsv", sep="\t")